
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hakkımda Sayfası</h2>

<table class="table table-bordered" style="text-align:center">
    <tr>
        <th>#</th>
        <th>name</th>
        <th>surname</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Erdem</td>
        <td>Buzluk</td>
    </tr>
</table>
