@model MyCvApp.Models.Entity.Tbl_Certificate

@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<form method="post" style="font-family:'Times New Roman', Times, serif">
    <h1 style="text-align:center;">Sertifika Güncelleme Sayfası</h1>
    @Html.Label("Sertifika Adı")
    @Html.TextBoxFor(x => x.Explanation, new { @class = "form-control" })
    <br />
    @Html.Label("Sertifika Alınma Tarihi")
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />
    <div style="text-align:center"><button class="btn btn-info">GÜNCELLE</button></div>
</form>

